<footer class="mastfoot mt-auto">
    <div class="inner">
        <p>
            Developpé par
            <a href="https://www.linkedin.com/in/elneris-dang/" target="_blank">Elneris</a>
            , Propulsé par
            <a href="https://symfony.com/doc/current/index.html#gsc.tab=0" target="_blank">
                <img src="https://img.icons8.com/color/28/000000/symfony.png" alt="icone-symfony">
            </a>
        </p>
    </div>
</footer>
