<header class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand">WILD Series</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link text-info" href="{{ path('app_index') }}">Home</a>
            <a class="nav-link" href="{{ path('wild_index') }}">Wild Index</a>
            <a class="nav-link" href="{{ path('wild_show') }}">Wild Show</a>
            <a class="nav-link" href="{{ path('wild_category') }}">Wild Category</a>
        </nav>
    </div>
</header>
