{% extends 'base.html.twig' %}

{% block title %}Liste de programmes{% endblock %}

{% block body %}

    {% include '_inc/_back.html.twig' %}

    <h1 class="text-center mt-5">Toutes les séries au programme</h1>
    <div class="row justify-content-center mt-5">
        {% for program in programs %}

            <div class="card text-white bg-secondary mb-5 mr-2 ml-2 col-sm-6 col-md-4 col-lg-3">
                <div class="card-header">{{ program.category.name }}</div>
                <div class="card-body">
                    <a href=""></a><h5 class="card-title">{{ loop.index }} / {{ program.title }}</h5>
                    <p class="card-text">{{ program.summary }}</p>
                </div>
            </div>

        {% else %}
            Aucune série trouvée.
        {% endfor %}
    </div>
{% endblock %}
